<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="css/style.css" rel="stylesheet">
<meta charset="ISO-8859-1">
</head>
  <body>
	<div th:replace="fragments/header :: header">
	</div>
	<div class="main-fragment">
		<div class="container">
                <div class="row">
                    <div class="form-group col-md-4" th:each="movie: ${movies}">
	                    <img th:src="@{https://image.tmdb.org/t/p/w300/} + ${movie.poster_path}" />
	                    <p th:text="${movie.title}"></p>
                    </div>
                </div>
        </div>
    </div>
  </body>
</html>